# Dependencies
node_modules/

# Builds / caches
dist/
.expo/
.vite/
ios/build/
android/build/
*.tsbuildinfo

# OS / éditeur
.DS_Store
*.log

# Binaires lourds
*.dmg

# Secrets
.env
.env.local
.env.*.local
